
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @Html.ActionLink("Nuevo","Create")
    <div class="row">
        <div class="col-md-2">Id</div>
        <div class="col-md-2">Usuario</div>
        <div class="col-md-2">Email</div>
        <div class="col-md-2">Teléfono</div>
        <div class="col-md-4">Información Adicional</div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">

        </div>
    </div>
</div>
