
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>CONTACTO</h2></center>
<button>@Html.ActionLink("Nuevo", "Create")</button>
<div class="row">
    <div class="col-md-3"><h5><b>TITULO</b></h5></div>
    <div class="col-md-3"><h5><b>NOMBRE</b></h5></div>
    <div class="col-md-3"><h5><b>APELLIDO</b></h5></div>

    <div class="col-md-3"><h5><b>TELEFONO</b></h5></div>
    <div class="col-md-3"><h5><b>EXTENSION</b></h5></div>
    <div class="col-md-3"><h5><b>CELULAR</b></h5></div>

    <div class="col-md-4"><h5><b>CORREO ELECTRONICO</b></h5></div>
    <div class="col-md-4"><h5><b>PUESTO</b></h5></div>
    <div class="col-md-1"><h5><b>ESTATUS</b></h5></div>
</div>

