
@{
    ViewBag.Title = "importar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Importar</h2>
<div class="panel-body">
    <div class="col-xs-12 col-lg-12 col-md-12">


        <form>
            <div class="form-group col-md-12">
                <label for="archivoproducto">Subir archivo</label>
                <input type="file" id="archivoproducto">
                <p class="help-block">Seleccione un archivo excel de los productos.</p>
            </div>
           
            <button type="submit" class="btn btn-success">Importar</button>
        </form>


    </div>


</div>

<div class="panel panel-default">
    <div class="row table-striped">
        <div class="col-xs-1 col-lg-1 col-md-1 font-weight-bold">
            Nombre
        </div>
        <div class="row table-striped">
            <div class="col-xs-1 col-lg-1 col-md-1 font-weight-bold">
                marca
            </div>
            <div class="row table-striped">
                <div class="col-xs-1 col-lg-1 col-md-1 font-weight-bold">
                    categoria
                </div>


            </div>

        </div>
